<% include partials/header %>
            <div id="landing-header" style="z-index: 1; position: relative; text-align: center; padding-top: 40vh;">
                <h1>Welcome!</h1>
                <br>
                <h2>CS 480 Final Presentation</h2>
                <br>
                <h3>University of Illinois at Chicago Spring 2019</h3>
                <br>
                <h4>Ahmed Khan, Hamza Shahid</h4>
                <br>
                <br>
                <a href="/employees" class="btn btn-lg btn-success">Begin Demo</a>
            </div>
<% include partials/footer %>