<% include partials/header %>
            <!-- New Employee -->
            <br>
            <h1>Add a new Employee to the Employee Database</h1>
            <br>
            <form action="/employees" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2 form-control-lg" id="inlineFormInput" placeholder="Name" name="employee[PERSON_NAME]">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2 form-control-lg" id="inlineFormInput" placeholder="Street" name="employee[STREET]">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2 form-control-lg" id="inlineFormInput" placeholder="City" name="employee[CITY]">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info mb-2 form-control-lg">Submit</button>
                    </div>
                </div>
            </form>
<% include partials/footer %>
